/*<style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Sacramento&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
</style>*/
/* Base CSS */
a:focus, input:focus, textarea:focus, button:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
/*font-family: 'Sacramento', cursive; font-family for logo*/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
   font-family: 'Open Sans', sans-serif;
}
a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}

a:focus,button:focus {
    outline: 0 solid
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 28px;
    position: relative;
}
.section-padding{
    padding: 80px 0;
}
.section-title h2 {
    font-size:  35px;
    text-transform:  uppercase;
    font-weight: 500;
    margin-bottom: 75px;
    position:  relative;
}

.section-title h2:after {
    position:  absolute;
    width: 30%;
    height: 3px;
    background-color: #333;
    content:  "";
    left: 120px;
    bottom: -20px;
}

/* =====================================

            Heder Area style

===================================== */
.hero-area{
    background-image: url(../images/hero-bg.jpg);
}

.hero-area {
    background-size:  cover;
    background-position:  center;
    background-color: #10B6A7;
    position:  relative;
    z-index: 1;
    color: #fff;
    padding-top: 250px;
    padding-bottom: 175px;
    font-weight:  300;
}



.hero-area h2 {
    font-size: 46px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 55px;
    margin-bottom: 40px;

}
.hero-area h2 span {
    text-transform: capitalize;
}
.hero-area h3 {
    margin-bottom: 5px;
}


a.nav-link {
    color: #fff;
    text-transform:  uppercase;
    font-size: 14px;
    padding-right:  1rem !important;
}

a.nav-link:hover {color: #32B5A4;}
.site-header {
    position:  absolute;
    width:  100%;
    left:  0;
    top:  0;
    padding: 40px 0;
}
a.navbar-brand {
    font-family: 'Sacramento', cursive;
    font-size: 36px;
    font-weight: 900;
    color: #ffffff;
    opacity: .8;
    transition: .2s;
}
a.navbar-brand:hover {
    opacity: 1;
}


.is-sticky .site-header {
    padding: 0;
}

.is-sticky .site-header:after {
    position:  absolute;
    background:  #333;
    content:  "";
    left:  0;
    top: 0;
    width:  100%;
    height: 100%;
    z-index: -1;
    opacity: .9;
}

.site-header,.logo a, .menu li a {
    transition: .6s;
}
.is-sticky .logo a {
    font-size: 26px;
}
/* =====================================

            Button style

===================================== */
.boxed-btn, .portfolio-btn {
    color: #53585C;
    padding: 15px 30px;
    background-color: #68E5CF;
    font-size:  18px;
    text-transform:  uppercase;
    font-weight:  600;
    transition: .3s;
    border: 1px solid #53585C;
    display: inline-block;
}

.portfolio-btn{
    background-color: #333;
    color: #68E5CF;
    margin-top: 15px;
}

.boxed-btn:hover{
    background-color: #333;
    color: #68E5CF;
    border: 1px solid #68E5CF;
}
.portfolio-btn:hover{
    color: #333;
    background-color: #68E5CF; 
    border: 1px solid #333;
}

/* =====================================

            About Area style

===================================== */

.about-area {
    background-color: #68E5CF;
}

.profile-image {
    width: 380px;
    height: 380px;
    float: left;
    position: relative;
}
.profile-image:after {
    position: absolute;
    width: 100%;
    height: 100%;
    right: -25px;
    bottom: -25px;
    border: 3px solid #078A79;
    content: "";
}
.profile-image img {
    border: 2px solid #333;
    position: relative;
    z-index: 2;
}
.profile-description p {
    margin-bottom: 40px;
}

.light-sky{
    color: #68E5CF;
}

/* =====================================

        Portfolio Area style

===================================== */
.portfolio-bg-1{
    background-image: url(../images/portfolio/01-large.jpg);
}
.portfolio-bg-2{
    background-image: url(../images/portfolio/02-large.jpg);
}
.portfolio-bg-3{
    background-image: url(../images/portfolio/03-large.jpg);
}
.portfolio-bg-4{
    background-image: url(../images/portfolio/04-large.jpg);
}
.portfolio-bg-5{
    background-image: url(../images/portfolio/05-large.jpg);
}
.portfolio-bg-6{
    background-image: url(../images/portfolio/06-large.jpg);
}
.portfolio-bg-7{
    background-image: url(../images/portfolio/07-large.jpg);
}
.portfolio-bg-8{
    background-image: url(../images/portfolio/08-large.jpg);
}
.portfolio-bg-9{
    background-image: url(../images/portfolio/09-large.jpg);
}
.portfolio-bg-10{
    background-image: url(../images/portfolio/10-large.jpg);
}
.portfolio-bg-11{
    background-image: url(../images/portfolio/11-large.jpg);
}
.portfolio-bg-12{
    background-image: url(../images/portfolio/12-large.jpg);
}
.portfolio-area{
    background-color: #5D6266;
}
.single-portfolio-item {
    background-size:  cover;
    width:  23%;
    height: 180px;
    background-position:  center;
    background-color:  #ddd;
    position:  relative;
    z-index: 2;
    transform: scale(1);
    transition: .4s;
    margin-bottom: 30px;
    float: left;
}
.portfolio-list{
    overflow: hidden;
}
.portfolio-item-hover h2 {
    text-transform:  uppercase;
    font-size: 20px;
    color: #fff;
    font-weight: 500;   
    text-align: center;
}



.portfolio-item-hover {
    position:  absolute;
    width:  100%;
    top: 94px;
    transition:  .3s;
    visibility:  hidden;
}

.single-portfolio-item:hover .portfolio-item-hover {
    visibility:  visible;
    top:  85px;
}

.single-portfolio-item:hover {
    transform: scale(1.1);
}

.single-portfolio-item:after {
    position:  absolute;
    width:  100%;
    height:  100%;
    background-color:  #333;
    opacity: 0;
    content: "";
    transform: scale(1);
    z-index: -1;
}

.single-portfolio-item:hover .single-portfolio-item:after {
    opacity:  .4;
    transform: scale(1.1);
}

.single-portfolio-item:hover:after {
    opacity: .6;
}
ul.portfolio-filter {
    margin:  0 0 50px;
    padding:  0;
    list-style:  none;
}

ul.portfolio-filter li {
    display:  inline-block;
    background:  #333;
    color:  #68E5CF;
    padding:  10px 15px;
    text-transform:  uppercase;
    margin-right: 15px;
    cursor: pointer;
}

ul.portfolio-filter li:hover {
    color:  #333;
    background: #68E5CF;
}

/* =====================================

            Contact Area style

===================================== */
.contact-area{
    background-color: #68E5CF;
}
p.form-element {
    position:  relative;
}

p.form-element label {
    position:  absolute;
    left: 10px;
    top: 0px;
    text-transform:  uppercase;
}

.contact-form input[type="text"], .contact-form input[type="email"], .contact-form textarea {
    width:  100%;
    padding: 15px;
    padding-top: 25px;
    border: 1px solid #777;
    padding-bottom: 10px;
}

.contact-form input[type="submit"] {
    background-color: #333;
    border:  1px solid;
    color:  #fff;
    padding: 10px 50px;
    text-transform:  uppercase;
}
.contact-form textarea{
    max-height: 150px;
}

.social-icon {
    margin-top: 85px;
    margin-right: 40px;
}

.social-icon a.fa {
    color:  #333;
    font-size:  25px;
    background:  #fff;
    height: 40px;
    width: 40px;
    line-height: 41px;
    border-radius:  50%;
    margin-left: 45px;
    transition: .3s;
}

.social-icon a.fa:hover {
    background:  #333;
    color: #fff;
}

/* =====================================

            Footer Area style

===================================== */

.footer-area {
    background-color:  #333;
    color: #fff;
}

.footer-area a {
    color: #68E5CF;
}
.footer-area {
    padding: 20px 0;
}

.footer-area p {
    margin-top: 10px;
}



p.form-element i.fa.fa-star, p.form-element i.fa.fa-id-card, p.form-element i.fa.fa-envelope {
    color: #e80b0b;
    font-size:  10px;
    position:  absolute;
    top: 5px;
    right: 5px;
}

p.form-element i.fa.fa-id-card, p.form-element i.fa.fa-envelope {
    top:  45px;
    color: #888;
}

.sticky-wrapper {
    position:  absolute;
    width:  100%;
    z-index: 999;
    top: 0;
}

/* =====================================

            automated typing  style

===================================== */

#typed{
    height: 110px;
}

/* =====================================

         preloader style

===================================== */

.preloader-box {
    position:  fixed;
    width:  100%;
    height:  100%;
    background-color: #333;
    z-index: 9999;
}

.preloader-box ul {
    position:  absolute;
    left: 50%;
    top: 50%;
    color:  #000;
    transform: translate(-50%,-50%);
}

.preloader-box li {
    background-color:  #fff;
    width: 5px;
    height:  40px;
    list-style:  none;
    display:  inline-block;
    margin: 0 5px;
    animation: animate .8s infinite alternate
}

@keyframes animate
{
    0%
    {
        transform: scaleY(1);
    }
    25%
    {
        transform: scaleY(1);
    }
    50%
    {
        transform: scaleY(1);
    }
    75%
    {
        transform: scaleY(1);
    }
    100%
    {
        transform: scaleY(3);
    }
}

.preloader-box li:nth-child(1){
    animation-delay: .1s;
}.preloader-box li:nth-child(2){
    animation-delay: .2s;
}.preloader-box li:nth-child(3){
    animation-delay: .3s;
}.preloader-box li:nth-child(4){
    animation-delay: .4s;
}.preloader-box li:nth-child(5){
    animation-delay: .5s;
}
.skillbar {
    position:relative;
    display:block;
    margin-bottom:25px;
    width:100%;
    background:#eee;
    height:35px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -webkit-transition:0.4s linear;
    -moz-transition:0.4s linear;
    -ms-transition:0.4s linear;
    -o-transition:0.4s linear;
    transition:0.4s linear;
    -webkit-transition-property:width, background-color;
    -moz-transition-property:width, background-color;
    -ms-transition-property:width, background-color;
    -o-transition-property:width, background-color;
    transition-property:width, background-color;
}

.skillbar-title {
    position:absolute;
    top:0;
    left:0;
width:110px;
    font-weight:bold;
    font-size:13px;
    color:#ffffff;
    background:#6adcfa;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.skillbar-title span {
    display:block;
    background:rgba(0, 0, 0, 0.1);
    padding:0 20px;
    height:35px;
    line-height:35px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.skillbar-bar {
    height:35px;
    width:0px;
    background:#6adcfa;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

.skill-bar-percent {
    position:absolute;
    right:10px;
    top:0;
    font-size:11px;
    height:35px;
    line-height:35px;
    color:#ffffff;
    color:rgba(0, 0, 0, 0.4);
}